/* Declared Color Palette */
:root {
    --noctvrnal-dark-gray: #242424
    --noctvrnal-black: #202020;
    --noctvrnal-menu-back: #242424;
    --noctvrnal-input-placeholder: #626262;
    --noctvrnal-gray: #7a7a7a;
    --noctvrnal-light-gray: #ddd;
    --noctvrnal-white: white;
    --noctvrnal-dark-blue: #164f81;
    --noctvrnal-blue: #8ebeff;
    --noctvrnal-blue-link: #60a0f6;
    --noctvrnal-warning: darkgoldenrod;
    --noctvrnal-error: crimson;
}
