@font-face {
  font-family: "Bertholdr Mainzer Fraktur";
  src: url("fonts/bertholdr-mainzer-fraktur/Bertholdr\ Mainzer\ Fraktur.ttf");
}

@font-face {
  font-family: "Cormorant Garamond";
  src: url("fonts/Cormorant_Garamond/CormorantGaramond-Regular.ttf");
}

:root {
  --font-default: "Cormorant Garamond";
  --font-title: "Bertholdr Mainzer Fraktur";
}

html {
  background: #000000;
  margin: 0 0;
  padding: 0px;
  color: #ffffff;
  font-family: var(--font-default);
  font-size: 16px;
}

h1 {
  color: #ffffff;
  font-family: var(--font-title);
  font-size: 36px;
}

h2 {
  color: #ffffff;
}

p {
  text-align: left;
  line-height: 1.2;
}

a {
  text-decoration: none;
}

a :hover {
  color: #BC0119;
}

li {
  color: #ffffff;
}

label {
  font-size: 1.25rem;
}

.centered {
  text-align: "center";
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 8px 24px;
}

.body-container {
  padding: 24px 64px;
  height: 100%;
  border: 4mm ridge rgba(255, 255, 255, 0.6);
}

.links-container {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.polka-dot {
  background-image: radial-gradient(#3f3f3f 30%, transparent 20%),
    radial-gradient(#282828 30%, transparent 20%);
  background-color: #000000;
  background-size: 16px 16px, 8px 8px;
  background-position: -2px 0, 2px 4px;
  height: 100%;
  width: 100%;
}

.gradient {
  background-image: radial-graident(farthest-corner at 0px 20px, #BC0119 0%, 3f3f3f 100%);
  background-size: 100 100;
  height: 100%;
  width: 100%;
}

.form-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.form-col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form-row input, .form-col textarea {
  width: 100%;
}

.bottom-border {
  border-bottom: solid #ffffff;
}

.padding-bottom-sm {
  padding-bottom: 4px;
}