/*
*
* GENERAL
*
*/

body {
  background: #000000;
  margin: 0 auto;
  padding: 0px;
}

h1 {
  color: #ffffff;
  font-family: 'Lucida Console';
  text-align: center;
  margin-top: 40px;

  /*8s*/
  /*animation: type 8s steps(42);
  animation-iteration-count: infinite;
  overflow: hidden;
  white-space: nowrap;*/
}

h2 {
  color: #ffffff;
  font-family: 'Lucida Console';
  text-align: center;
}

p {
  color: #ffffff;
  font-family: 'Lucida Console';
  text-align: left;
  font-size: 20px;
  line-height: 1.2;
}

a:hover {
  color: #c7e6b1;
}

.gameArea {
  margin: 0 auto;
  position: relative;
  width: 886px;
  height: 720px;
  padding-top: 20px;
  background-color: #000000;
}

#imgHandle {
  padding: 0px;
  margin: 0px;
  position: relative;
  overflow: hidden;
}

#flatImage {
  height: 720px;
  width: 886px;

  padding: 0px;
  margin: 0 auto;

  position: relative;

  background-color: #000000;
}

/*
*
* CHAT
*
*/

#chatBG {
  margin: 0px;
  padding: 0px;
  height: 190px;
  width: 622px;
  bottom: 10px;
  right: 10px;
  position: absolute;
}

#chatBG {
  margin: 0px;
  padding: 0px;
  height: 190px;
  width: 622px;
  bottom: 10px;
  right: 10px;
  position: absolute;
}

#chatText {
  position: absolute;
  right: 25px;
  bottom: 25px;
  margin: 0px;
  height: 150px;
  width: 582px;
  border: 4px ;
}

/*
*
* SPRITES
*
*/

#headPhone {
  margin: 0;
  height: 50%;
  width: ;
  bottom: 0px;
  left: 0px;
  position: absolute;
}

#hand { /*orig 190x111*/
  margin: 0;
  width: 570px;
  height: 333px;
  position: absolute;
  /*right: 0px;*/
  bottom: 170px;

  /*wait 6s, 3s travel, 4s wait, 1s reg rate, then 4 sec to farther distance.*/
  animation: slide 16s;
  overflow: hidden;
}

/*
*
* ANIMATIONS
*
*/

@keyframes slide {
  0%, 35% {
    right: -570px;
  }

  60%, 80% {
    right: 0px;
  }

  100% {
    right: -670px;
  }
}

@keyframes type {
  0% {
    width: 0ch;
    margin: 0 auto;
    padding: 40px 0px 20px 0px;
  }
  70%, 100% {
    width: 42ch;
    margin: 0 auto;
    padding: 40px 0px 20px 0px;
  }
}
